{% extends 'base.html' %}
{% block body %}


<div class="topBanner">
    <h1> Free {{ content.title }} bot template</h1>
    <p><b>Select, edit and install</b> a chatbot for your business  </p>
</div>
<div class="row">
    <div class="col-lg-6 imgPart">
        <img src="{{ content.image.url }}" id="templateDetailImg">
    </div>
    <div class="col-lg-6 details">
        <h3>{{ content.title }}</h3>
        <p> by mini.chat</p>
        <p>
            Get feedback from {{ content.title }} customers via our chatbot. Learn how your services can be improved and delight your customers with an interactive experience.        </p>
        <button type="button" class="btn btn-success">
            Try this template
        </button>
    </div>
</div>

{% endblock %}