{% extends 'base.html' %}
{% block body %}
{% load static %}

<div class="topBanner">
    <h1> Free Bot Templates</h1>
    <p><b>Select, edit and install</b> a chatbot for your business  </p>
</div>
<div class="templates row">
    <div class="col-lg-3">
    <ul class="nav flex-column">
        {% for category in categories %}
            <li class="nav-item">
                <a class="nav-link active filter-button" href="{% url 'chatbot:chatbot_template_category' category.url_name %}" data-filter="{{ category.data_type }}">{{ category.name }}</a>
            </li>
        {% endfor %}
    </ul>
    </div>
    <div class="col-lg-9">
        <div class="row gallery">
            {% for content in contents %}
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6">
                    <div class="card" style="width: 18rem;">
                          <img class="card-img-top" src="{{ content.image.url }}"  class="img-responsive" alt="Card image cap">
                          <div class="card-body">
                              <h5 class="card-title"><a href="{% url 'chatbot:chatbot_template_detail' content.id %}">{{ content.title }}</a></h5>
                          </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){

    $(".filter-button").click(function(){
        var value = $(this).attr('data-filter');

        if(value == "all")
        {
            //$('.filter').removeClass('hidden');
            $('.filter').show('1000');
        }
        else
        {
//            $('.filter[filter-item="'+value+'"]').removeClass('hidden');
//            $(".filter").not('.filter[filter-item="'+value+'"]').addClass('hidden');
            $(".filter").not('.'+value).hide('3000');
            $('.filter').filter('.'+value).show('3000');

        }
    });

    if ($(".filter-button").removeClass("active")) {
$(this).removeClass("active");
}
$(this).addClass("active");

});

</script>

{% endblock %}