{% extends 'base.html' %}
{% block body %}
{% load static %}

<div class="topBanner">
    <h1> Free Bot Templates</h1>
    <p><b>Select, edit and install</b> a chatbot for your business  </p>
</div>
<div class="templates row">
    <div class="col-lg-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active filter-button" href="#" data-filter="all">All</a>
      </li>
      <li class="nav-item">
        <a class="nav-link filter-button" href="#" data-filter="general">General</a>
      </li>
      <li class="nav-item">
        <a class="nav-link filter-button" href="#" data-filter="education">Education</a>
      </li>
      <li class="nav-item">
        <a class="nav-link filter-button" href="#" data-filter="finance">Finance</a>
      </li>
      <li class="nav-item">
        <a class="nav-link filter-button" href="#" data-filter="healthBeauty">Health & Beauty</a>
      </li>
      <li class="nav-item">
        <a class="nav-link filter-button" href="#" data-filter="travelTransport">Travel & Transport</a>
      </li>
      <li class="nav-item">
        <a class="nav-link filter-button" href="#" data-filter="personal">Personal</a>
      </li>
      <li class="nav-item">
        <a class="nav-link filter-button" href="#" data-filter="eventPlanning">Event Planning</a>
      </li>
      <li class="nav-item">
        <a class="nav-link filter-button" href="#" data-filter="ITSoftware">IT & Software</a>
      </li>
      <li class="nav-item">
        <a class="nav-link filter-button" href="#" data-filter="realEstate">Real Estate</a>
      </li>
      <li class="nav-item">
        <a class="nav-link filter-button" href="#" data-filter="foodRestaurant">Food & Restaurant</a>
      </li>
      <li class="nav-item">
        <a class="nav-link filter-button" href="#" data-filter="designPhotograph">Design & Photography</a>
      </li>
    </ul>
    </div>
    <div class="col-lg-9">
        <div class="row gallery">
            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter education">
                <div class="card" style="width: 18rem;">
                      <img class="card-img-top" src="https://images.unsplash.com/photo-1509062522246-3755977927d7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"  class="img-responsive" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Career Guidance</h5>
                      </div>
                </div>
            </div>
            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter healthBeauty">
                <div class="card" style="width: 18rem;">
                      <img class="card-img-top" src="https://images.unsplash.com/photo-1434682881908-b43d0467b798?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=753&q=80"  class="img-responsive" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Fitness Center</h5>
                      </div>
                </div>
            </div>
            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter education">
                <div class="card" style="width: 18rem;">
                      <img class="card-img-top" src="https://images.unsplash.com/photo-1525571453712-090270b8354f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"  class="img-responsive" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Language School</h5>
                      </div>
                </div>
            </div>
            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter travelTransport">
                <div class="card" style="width: 18rem;">
                      <img class="card-img-top" src="https://images.unsplash.com/photo-1492455417212-e162ed4446e1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"  class="img-responsive" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Hotel Feedback</h5>
                      </div>
                </div>
            </div>
            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter realEstate">
                <div class="card" style="width: 18rem;">
                      <img class="card-img-top" src="https://images.unsplash.com/photo-1535450117817-f24e366873b0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=711&q=80"  class="img-responsive" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Mortgage Help</h5>
                      </div>
                </div>
            </div>
            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter finance">
                <div class="card" style="width: 18rem;">
                      <img class="card-img-top" src="https://images.unsplash.com/photo-1495433324511-bf8e92934d90?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"  class="img-responsive" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Mortgage Survey</h5>
                      </div>
                </div>
            </div>
            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter designPhotograph">
                <div class="card" style="width: 18rem;">
                      <img class="card-img-top" src="https://images.unsplash.com/photo-1516807947649-1054add6bc97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=749&q=80"  class="img-responsive" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Photographer</h5>
                      </div>
                </div>
            </div>
            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter ITSoftware">
                <div class="card" style="width: 18rem;">
                      <img class="card-img-top" src="https://images.unsplash.com/photo-1519558260268-cde7e03a0152?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"  class="img-responsive" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Mobile Application</h5>
                      </div>
                </div>
            </div>
            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter personal">
                <div class="card" style="width: 18rem;">
                      <img class="card-img-top" src="https://images.unsplash.com/photo-1518600593288-2ec370b80cba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"  class="img-responsive" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Wedding Invitation</h5>
                      </div>
                </div>
            </div>
            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter general">
                <div class="card" style="width: 18rem;">
                      <img class="card-img-top" src="https://images.unsplash.com/photo-1462539405390-d0bdb635c7d1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=793&q=80"  class="img-responsive" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Feedback Collection</h5>
                      </div>
                </div>
            </div>
            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter general">
                <div class="card" style="width: 18rem;">
                      <img class="card-img-top" src="https://images.unsplash.com/photo-1532629345422-7515f3d16bb6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"  class="img-responsive" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Donation</h5>
                      </div>
                </div>
            </div>
            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter foodRestaurant">
                <div class="card" style="width: 18rem;">
                      <img class="card-img-top" src="https://images.unsplash.com/photo-1494233914995-8c8b438d3f60?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"  class="img-responsive" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Book a Table</h5>
                      </div>
                </div>
            </div>
            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter general">
                <div class="card" style="width: 18rem;">
                      <img class="card-img-top" src="https://images.unsplash.com/photo-1520333789090-1afc82db536a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"  class="img-responsive" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Job Application</h5>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){

    $(".filter-button").click(function(){
        var value = $(this).attr('data-filter');

        if(value == "all")
        {
            //$('.filter').removeClass('hidden');
            $('.filter').show('1000');
        }
        else
        {
//            $('.filter[filter-item="'+value+'"]').removeClass('hidden');
//            $(".filter").not('.filter[filter-item="'+value+'"]').addClass('hidden');
            $(".filter").not('.'+value).hide('3000');
            $('.filter').filter('.'+value).show('3000');

        }
    });

    if ($(".filter-button").removeClass("active")) {
$(this).removeClass("active");
}
$(this).addClass("active");

});

</script>

{% endblock %}