{% extends 'base.html' %}
{% block body %}
{% load static %}

<div class="topProfileBanner">
    <h1> Profile Information</h1>
    <p>
        See what you have used for your business
    </p>
</div>
<div class="profile row">
    <div class="col-lg-4">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link filter-button active" data-filter="basicInfo">Basic Info</a>
          </li>
          <li class="nav-item">
            <a class="nav-link filter-button" data-filter="plan">Plans</a>
          </li>
          <li class="nav-item">
            <a class="nav-link filter-button" data-filter="template">Templates</a>
          </li>
        </ul>
    </div>
    <div class="col-lg-8">
            <div class="profileDetails filter basicInfo">
                <h3>Basic Information</h3>
                <hr>
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label for="username" class="col-lg-3 col-form-label">Username</label>
                        <div class="col-lg-9">
                          <input type="text" class="form-control-plaintext" id="username"
                                 name="username" {% if username %} value={{username}}  {% else %} value = "" {% endif %}>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="firstName" class="col-lg-3 col-form-label">First Name</label>
                        <div class="col-lg-9">
                          <input type="text" class="form-control" id="firstName" name="firstName"
                                 placeholder="" {% if username %} value={{first_name}}  {% else %} value = "" {% endif %}>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="lastName" class="col-lg-3 col-form-label">Last Name</label>
                        <div class="col-lg-9">
                          <input type="text" class="form-control" id="lastName" name="lastName"
                                 placeholder="" {% if username %} value={{last_name}}  {% else %} value = "" {% endif %}>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="phoneNumber" class="col-lg-3 col-form-label">Phone Number</label>
                        <div class="col-lg-9">
                          <input type="text" class="form-control" id="phoneNumber"
                                 name="phoneNumber" placeholder="" {% if username %} value={{phone_number}}  {% else %} value = "" {% endif %}>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-lg-3 col-form-label">Business email</label>
                        <div class="col-lg-9">
                          {{email}}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="url" class="col-lg-3 col-form-label">Website url</label>
                        <div class="col-lg-9">
                          <input type="text" class="form-control-plaintext" id="url" name="url" value={{url}}>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Save</button>
                </form>

            </div>
            <div class="profileDetails filter plan">
                <h3>your current plan</h3>
                <hr>
                {% if current_plan %}
                <p><a href="/price">{{current_plan.price_name}}</a></p>
                <table class="table">
                    <tr>
                        <th scope="row">Subscribes</th>
                        <th scope="row">Services</th>
                        <th scope="row">Payment</th>
                        <th scope="row">Duration</th>
                        <th scope="row">Start Date</th>
                        <th scope="row">End Date</th>
                    </tr>
                    <tr>
                        <td>{{current_plan.price_type}}</td>
                        <td>{{current_plan.short_description}}</td>
                        <td>{{current_plan.value}}</td>
                        <td>{{current_plan.duration}}</td>
                        <td>{{current_plan.start_at}}</td>
                        <td>{{current_plan.end_at}}</td>
                    </tr>
                </table>
                {% else %}
                <p>free</p>
                <p>What to upgrade? check <a href="/price">here</a></p>
                {% endif %}
                {% if payments %}
                <h3>payment history</h3>
                <hr>
                <table class="table">
                    <tr>
                        <th scope="row">Subscribes</th>
                        <th scope="row">Services</th>
                        <th scope="row">Payment</th>
                        <th scope="row">Duration</th>
                        <th scope="row">Start Date</th>
                        <th scope="row">End Date</th>
                    </tr>
                    {% for payment in payments %}
                    <tr>
                        <td>{{payment.price_type}}</td>
                        <td>{{payment.short_description}}</td>
                        <td>{{payment.value}}</td>
                        <td>{{payment.duration}}</td>
                        <td>{{payment.start_at}}</td>
                        <td>{{payment.end_at}}</td>
                    </tr>
                    {% endfor %}
                </table>
                {% endif %}

            </div>
            <div class="profileDetails filter template">
                <h3>Templates</h3>
                <hr>
                <div class="row templatesGotten">
                    {% for template in templates %}
                    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6">
                        <div class="card" style="width: 16rem;">
                              <img class="card-img-top img-responsive" src="{{ template.image.url }}" alt="Card image cap">
                              <div class="card-body">
                                <h5 class="card-title">{{template.title}}</h5>
                              </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6">
                        <div class="card" style="width: 16rem;">
                              <a href="../template/detail">
                                  <img class="card-img-top" src="https://images.unsplash.com/photo-1492455417212-e162ed4446e1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"  class="img-responsive" alt="Card image cap">
                              </a>
                              <div class="card-body">
                                 <a href="../template/detail" style="text-decoration: none;color:black"><h5 class="card-title">Hotel Feedback</h5></a>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('.plan').hide();
        $('.template').hide();

        $(".filter-button").click(function(){
            var value = $(this).attr('data-filter');
            $(this).css("font-weight","bold");
            $(".profile .nav-item .nav-link").not(this).css("font-weight","normal");
            $(".filter").not('.'+value).hide('3000');
            $('.filter').filter('.'+value).show('3000');
        });
    });

</script>

{% endblock %}