
/*Navigation*/

body {
    font-family: Montserrat,sans-serif;
    font-size: 15pt;
}

.fixed {
    position: fixed;
    top:0; left:0;
    width: 100%;
    background-color: white;
    z-index:1030;
}

.header {
    padding: 0 7%;
}

.navbar-logo {
    width:3%;
}

#signUp {
    color:blue;
}

.foot {
    background-color: white; /* For browsers that do not support gradients */
    background-image: linear-gradient(0deg, #dce5f4, white);
    padding-bottom: 2%;
}

.foot .row {
    margin-left:2%
}
.foot .row p {
    font-size: 14px;
    margin:1% 0 0 0;
}

.foot .row .col-lg-3:last-child h6{
    color:blue;
}

.foot .row .col-lg-3:last-child i{
    margin-right:2%;
}

/*Home*/
.introduction {
    text-align:center;
    margin-top:4%
}
h1 {
    font-size: 28pt;
    color: #322e58;
}
.introduction p {
    color:#5a5684;
    margin-top:1.5%;
    font-size: 16pt;
}
.introduction img {
    width: 50%;
    margin-top:2%;
}

.introduction:nth-child(even) {
    background-color: #fcfcfc;
}

#carouselExampleControls {
    margin: 0 25% 5% 25%;
    width: 50%;
}

.d-block {
    height: 300px;
}

/*templates*/

.topBanner {
    background: url(https://png.pngtree.com/thumb_back/fw800/back_pic/03/70/31/8557b65652120ea.jpg);
    width: 100%;
    height:200px;
}

.topBanner h1 {
    color: white;
    text-align: center;
    padding-top: 5%;
}
.topBanner p {
    color: white;
    text-align: center;
}

.templates ul {
    list-style-type: none;
    margin: 15% 0 5% 40%;
    padding: 0;
}
.templates li {
    font-size: 12pt;
    margin: -15px 0 0 0;
}
.templates li a {
    color: #5a5684;
}
.gallery {
   margin:5% 8% 10% 3%;
}
.gallery .gallery_product {
    padding: 0 10% 2% 0;
}
.gallery .gallery_product .card h5 {
    text-align:center;
}
.gallery .gallery_product .card .card-img-top {
    width: 18rem;
    height: 200px
}
.imgPart {
    padding:0 0 0 10%;
    margin: 6% 0;
}
#templateDetailImg {
    width:100%;
    height:auto%;
}
.details {
    padding: 8% 10% 6% 3%;
    text-align:center;
    color:#322e58;
}
.details p {
    margin: 3% 0 6% 0;
    padding: 0 12%;
    line-height:2;
}
.details p:nth-of-type(1) {
    color:grey;
}
